*{
    margin: 3px;
    padding: 5px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.personal{
    width: auto;
    height: auto;
    border-radius: 25px; 
    background-color: white;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 15px; 
    min-height: auto; 
    margin-right: auto; 
    font-size: 15px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent; 
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.slide-content{
    margin: 0 70px;
}

.card{
    margin-top: 60px;
    width:fit-content;
    height: fit-content;
    border-radius: 25px; 
    background-color: white;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;


}
.image-content{
    position:relative;
    row-gap: 5px;
}


.card-image{
    position: relative; 
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;


}
.card-content,
.name{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.card-content,
.description{
    margin-bottom: 25px;
}

.button{
    border: none;
    font-size: 15px;
    color: white;
    padding: 8px 16px;
    background-color: black;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn{
    border: none; 
    padding: 5px 20px;
    color: white;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}
