*{
    margin: 3px;
    padding: 5px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.header{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#002576;  
}

.personal{
    width: auto;
    height: auto;
    border-radius: 25px; 
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002576;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #002576;
  }