
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>


    <% for (let i = 0; i < itemData.length; i++) { %>
        <h3><%- itemData[i].data()['member'] %></h3>
        <% for (let j = 0; j < itemData[i].data()['song'].length; j++) { %>
            <h5><%- itemData[i].data()['song'][j] %></h5>
        <% } %>
    <% } %>
    

</body>
</html>
